<a href="https://colab.research.google.com/github/puzlike/expert-octo-telegram/blob/main/prodact_lane.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta
df = pd.read_excel('prodact_lane.xlsx')
display(df)

day = datetime.strptime(df.iloc[0, 0].isoformat()[:10], '%Y-%m-%d') 
nextday = day + relativedelta(days=1)
sdate = day.isoformat() + ' 23:00:00'
edate = nextday.isoformat() + ' 05:00:00'

df1 = df.query('日時 >=@sdate and 日時 <=@edate').reset_index(drop=True)
display(df1)

sum_lanes = []
l1 = len(list(df1.columns))
l2 = len(list(df1.index))
for j in range(1, l1):
    sum_lane = 0
    for i in range(l2):
        sum_lane += df1.iloc[i, j]
    sum_lanes.append(sum_lane)

for i, sum_lane in enumerate(sum_lanes):
    print(f'生産レーン{i + 1}の合計は{sum_lane}です。')

                    日時  生産レーン1  生産レーン2  生産レーン3  生産レーン4  生産レーン5
0  2023-02-05 08:00:00    12.0    34.0    11.0    12.0    23.0
1  2023-02-05 09:00:00    22.0    56.0    23.0    45.0    44.0
2  2023-02-05 10:00:00    33.0    12.0    56.0    67.0    56.0
3  2023-02-05 11:00:00    56.0    88.0    11.0    87.0    89.0
4  2023-02-05 12:00:00    32.0    56.0    23.0    54.0    32.0
5  2023-02-05 13:00:00    78.0    33.0    87.0    32.0    90.0
6  2023-02-05 14:00:00    56.0    22.0    45.0    12.0    45.0
7  2023-02-05 15:00:00    89.0    88.0    88.0    34.0    34.0
8  2023-02-05 16:00:00    11.0    55.0    34.0    56.0    21.0
9  2023-02-05 17:00:00    34.0    11.0    78.0    89.0    56.0
10 2023-02-05 18:00:00    67.0    23.0    34.0    43.0    23.0
11 2023-02-05 19:00:00    22.0    89.0    90.0    90.0    56.0
12 2023-02-05 20:00:00    98.0    90.0    23.0    23.0    34.0
13 2023-02-05 21:00:00    10.0    12.0    24.0    11.0    45.0
14 2023-02-05 22:00:00    22.0    34.0    55.0    55.0    67.0
15 2023-02-05 23:00:00    30.0    56.0    44.0    33.0    34.0
16 2023-02-06 00:00:00    11.0    43.0    23.0    22.0    67.0
17 2023-02-06 01:00:00    55.0    22.0    56.0    67.0    23.0
18 2023-02-06 02:00:00    23.0    30.0    43.0    45.0    89.0
19 2023-02-06 03:00:00    19.0    11.0    21.0    23.0    22.0
20 2023-02-06 04:00:00    25.0    23.0    65.0    12.0    34.0
21 2023-02-06 05:00:00    56.0    45.0    34.0    11.0    56.0
22 2023-02-06 06:00:00    34.0    23.0    11.0    23.0    12.0
23 2023-02-06 07:00:00    55.0    45.0    23.0    80.0    45.0
24 2023-02-06 08:00:00    22.0    78.0    89.0    56.0    77.0

                   日時  生産レーン1  生産レーン2  生産レーン3  生産レーン4  生産レーン5
0 2023-02-05 23:00:00    30.0    56.0    44.0    33.0    34.0
1 2023-02-06 00:00:00    11.0    43.0    23.0    22.0    67.0
2 2023-02-06 01:00:00    55.0    22.0    56.0    67.0    23.0
3 2023-02-06 02:00:00    23.0    30.0    43.0    45.0    89.0
4 2023-02-06 03:00:00    19.0    11.0    21.0    23.0    22.0
5 2023-02-06 04:00:00    25.0    23.0    65.0    12.0    34.0
6 2023-02-06 05:00:00    56.0    45.0    34.0    11.0    56.0

生産レーン1の合計は219.0です。
生産レーン2の合計は230.0です。
生産レーン3の合計は286.0です。
生産レーン4の合計は213.0です。
生産レーン5の合計は325.0です。